<?xml version="1.0"?>
<config>

    <!-- configuracao do modulo -->
    <global>
        <modules>
            <Academia_helloworld>
                <version>1.0.0</version>
            </academia_helloworld>   
        </modules>
   
    </global>

    <!-- definicao da rota -->
    <frontend>
        <routers>
            <helloworld>
                 <use>standard</use>
                 <args>
                    <module>Academia_HelloWorld</module>
                    <frontName>helloworldacademia</frontName>
                 </args>
            </helloworld>
        </routers>
    </frontend>                
</config>